.bg-primary {
  background-color: #007bff !important;
}
.bg-info {
  background-color: #17a2b8 !important;
}
.bg-success {
  background-color: #28a745 !important;
}
.bg-danger {
  background-color: #dc3545 !important;
}
.img-circle {
    border-radius: 50%;
}
.elevation-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}